<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity android:name="com.example.chapter3_compose_ui.ComposeUiActivity" />
      <activity android:name="com.example.chapter3_compose_ui.lesson1basic_ui.Lesson1BasicUiActivity" />
      <activity android:name="com.example.chapter3_compose_ui.lesson2modifier.Lesson2ModifierActivity" />
  </application>
</manifest>