<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name="com.example.chapter1_kotlin.LessonKotlinActivity">
    </activity>

    <activity
      android:name="com.example.chapter1_kotlin.lesson2.ExtendActivity">
    </activity>

    <activity
      android:name="com.example.chapter1_kotlin.lesson3.Lesson3ConcurrencyActivity"
      android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
    </activity>
  </application>
</manifest>