<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <activity
      android:name="com.example.chapter1_kotlin.KotlinActivity">
    </activity>

    <activity
      android:name="com.example.chapter1_kotlin.lesson2extendfuction.ExtendActivity">
    </activity>

    <activity
      android:name="com.example.chapter1_kotlin.lesson4proxy.Lesson4ProxyActivity"
      android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
    </activity>

    <activity
      android:name="com.example.chapter1_kotlin.lesson3concurrency.Lesson3ConcurrencyActivity"
      android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
    </activity>

  </application>
</manifest>